<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head'); %>
    <title>Pokedex</title>
</head>
<body>
    <h1>Edit Pokemon</h1>
    <form action="/pokemon/<%=pos%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=data.name%>"/>
        <label for="img">Image</label>
        <input type="text" name="img" id="img" value="<%=data.img%>"/>
        <label for="type">Type</label>
        <input type="text" name="type" id="type" value="<%=data.type%>"/>
        <label for="norm_abilities">Normal Abilities</label>
        <input type="text" name="norm_abilities" id="norm_abilities" value="<%=data.misc.abilities.normal%>" />
        <label for="hidden_abilities">Hidden Abilities</label>
        <input type="text" name="hidden_abilities" id="hidden_abilities" value="<%=data.misc.abilities.hidden%>" />
        <input type="submit" value="Edit Pokemon" />
      </form>
      <button><a href='/pokemon'>Back to Menu</a></button>
      <button><a href='/pokemon/<%=pos%>'>Back to Pokemon</a></button>

</body>
</html>