<!DOCTYPE html>
<html>
  <head>
        <%- include('./partial/head'); %>
        <title>Pokedex</title>
  </head>
  <body>
    <h1><%= data.name %></h1>
    <br>
    <br>
    <p>
      <img src='<%= data.img%>' alt ="">
      <br>
      <button><a href='http://localhost:3000/pokemon/'>Back to Menu</a></button>
      <br>
      Type:
      <ul><% data.type.map((item)=>
        {%>
            <li>
                <%= item %>
            </li>
        
        <%} 
            )
        %>
        </ul> 
        Stats:
        <ul><% for (const key in data.stats)
            {%>
                <li><%=key%>: <%= data.stats[key] %></li>
            <%} 
            %>
        </ul> 
        Abilities:
        <ul><% for (const key in data.misc.abilities)
            {%>
                <%=key%>: 
                <% data.misc.abilities[key].map((item) => 
                {%> <li><%=item%> </li>
                <%} 
                )
                %>
            <%} 
            %>
        </ul> 
        Damages:
        <ul><% for (const key in data.damages)
            {%>
                <li><%=key%>: <%= data.damages[key] %></li>
            <%} 
            %>
        </ul> 
    </p>
  </body>
</html>

