<!DOCTYPE html>
<html>
  <head>
        <%- include('./partial/head'); %>
        <title>Pokedex</title>
  </head>
  <body>
      <div style="text-align: center;background-color:blue;width:100vw"">
    <h1 style="color:white"><%= data.name %></h1>
    <button><a href='/pokemon/<%=pos%>/edit'>Edit</a></button>
    <form action='/pokemon/<%=pos%>?_method=DELETE' method='POST'>
        <button>Delete</button>
    </form>
    </div >
    <div style="text-align: center">
    <br>
    <br>
    <p>
      <img src='<%= data.img%>' alt ="">
      <br>
      <button><a href='/pokemon'>Back to Menu</a></button>
     <div style="background-color: white">
      <br>
      Type:
      <ul><% data.type.map((item)=>
        {%>
            <li>
                <%= item %>
            </li>
        
        <%} 
            )
        %>
        </ul> 
        Abilities:
        <ul><% for (const key in data.misc.abilities)
            {%>
                <%=key%>: 
                <% data.misc.abilities[key].map((item) => 
                {%> <li><%=item%> </li>
                <%} 
                )
                %>
            <%} 
            %>
        </ul> 
    </div>
    </p>
</div>
  </body>
</html>

