<!DOCTYPE html>
<html>
  <head>
        <%- include('./partial/head'); %>
        <title>Pokedex</title>
  </head>
  <body>
    <h1><%= data.name %></h1>
    <a href='/pokemon/<%=pos%>/edit'>Edit</a>
    <br>
    <br>
    <p>
      <img src='<%= data.img%>' alt ="">
      <br>
      <button><a href='http://localhost:3000/pokemon/'>Back to Menu</a></button>
      <br>
      Type:
      <ul><% data.type.map((item)=>
        {%>
            <li>
                <%= item %>
            </li>
        
        <%} 
            )
        %>
        </ul> 
        Stats:
        <ul><% for (const key in data.stats)
            {%>
                <li><%=key%>: <%= data.stats[key] %></li>
            <%} 
            %>
        </ul> 
    </p>
  </body>
</html>

